/* 基础样式,规约所有自定义样式统一前缀*/

/* ---------------全局设置-------------- */
* {
	/* margin: 0 auto; */
	padding: 0;
	/* 盒子模型算上边框 */
	box-sizing: border-box;
	outline: none;
	
}

a {
	text-decoration: none;
	color: #8790a4;
}

ul {
	list-style: none;
}

button {
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	appearance: none;
}

input {
	text-rendering: auto;
	color: -internal-light-dark-color(black, white);
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	background-color: -internal-light-dark-color(white, black);
	cursor: text;
	margin: 0em;
	font: 400 11px system-ui;
	padding: 1px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

h1,
h2,
h3 {
	margin: 0;
	font: inherit;
}

/* ---------------布局设置-------------- */
.container {
	width: 70%;
	height: 500px;
	margin: 0 auto;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;
}

.col-12 {
	flex: 1 1 100%;
}

.col-8 {
	flex: 1 1 66.6%;
}

.col-6 {
	flex: 1 1 47%;
}

.col-5 {
	flex: 1 1 24%;
}

.col-4 {
	flex: 0 0 29%;

}

.col-3 {
	flex: 1 1 25%;
}

.col-2 {
	flex: 1 1 16.6%;
}

.col-1 {
	flex: 1 1 8.3%;
}

/* ---------------对齐方式设置-------------- */
/* flex横向布局的对齐,横向居中，纵向居中 */
.fx-center {
	justify-content: center;
	align-items: center;
}

/* flex横向布局的对齐,横向左对齐，纵向居中 */
.fx-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* flex横向布局的对齐,横向右对齐，纵向居中 */
.fx-right {
	justify-content: flex-end;
}

/* flex横向布局的对齐,横向两端对齐，纵向居中 */
.fx-between {
	justify-content: space-between;
}

/* flex横向布局的对齐,横向均匀分布，纵向居中 */
.fx-around {
	width: 25%;
	height: auto;
	justify-content: space-around;
}

.center {
	text-align: center;
}

/* 指定统一前缀的class样式 */
[class*='fx'] {
	display: flex;
	align-items: center;
}

/* flex纵向布局的对齐,横向居中，纵向顶端对齐 */
.fx-top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.padding-top-nav {
	padding-top: 50px;
}
